# Banco de Dados PostgreSQL
POSTGRES_DB=drivelink
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

# Backend
SPRING_PROFILES_ACTIVE=dev
SERVER_PORT=8080
JWT_SECRET=sua_chave_secreta_jwt_para_desenvolvimento_123456

# Frontend
VITE_API_URL=http://localhost:8080/api/v1
