# IDEs e Editores
.idea/
.vscode/
*.swp
*.swo

# Sistema Operacional
.DS_Store
Thumbs.db

.env.exemplo
.env*

# Node / Frontend
node_modules/
dist/
coverage/
.vite/

# Java / Maven / Backend
target/
*.class
*.jar
*.war

# Logs
*.log
